# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_ORLANGUR_EZURIO_NRF54L15
	select SOC_NRF54L15_CPUAPP if BOARD_ORLANGUR_EZURIO_NRF54L15_NRF54L15_CPUAPP || BOARD_ORLANGUR_EZURIO_NRF54L15_NRF54L15_CPUAPP_DEF
